@media only screen and (min-width: 590px) and (max-width: 1500px) {

/* for IMgae */

.bg-img-lg {
    height: 448px; /* desktop ke liye */
    width: 380px;
    border-radius: 5px;
    
}

.margin-left-1-lg{
  margin-left: 100px;
}
}
