.main-div {
  padding-bottom: 100px;
  padding-top: 50px;
}


header {
  display: flex;
  margin: auto;
  align-items: center;

  justify-content: space-between;

}

header nav div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
}

header nav div ul li a {
  text-decoration: none;
  color: black;

}

header nav div ul li {
  margin: 0px 10px;
}

header nav div ul li a:hover {
  color: #1a73e8;
  text-decoration: underline #1a73e8;
  transform: scaleX(0.1);
  transition: 0.4s ease;

}

#first-btn {
  width: 200px;
  height: 60px;
  font-size: 15px;
  position: relative;
  right: 0px;
  border-radius: 30px;
  background: linear-gradient(to right, #4cd3ff, #1a73e8);
  border: none;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;

}


#first-btn:hover {
  opacity: 0.9;
  transform: scale(0.95);
}

#first-btn span {
  display: inline-block;
  transition: all 0.3s ease;
}

#first-btn span:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}



/* Top Section */

.top-section {
  margin-left: 70px;
  margin-bottom: -100px;
  margin-top: 100px;
}

.icon-box-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-box-1 img {}

.top-section {
  align-items: left;

}

.top-section .icon-box-1 div {
  background: linear-gradient(135deg, #4fc3f7, #1e88e5);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top-section .subtitle {
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(to right, #4fc3f7, #1e88e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-section .title {
  font-size: 5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: -5px;
}

/* hero-section */
/* hero-section */
/* hero-section */

.hero-section {
  margin-top: 90px;
  height: 100vh;
  color: #fff;
}

.hero-section .container {
  margin-left: 70px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}

.hero-section .container h1 {
  font-size: 5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service-points {
  margin: 10px 0px;
  margin-left: 10px;

}

.service-points p {
  font-size: 20px;
}


/* mission section */

.mission-section {
  background: #0c0c0c;
  color: #fff;
  width: 30%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 5%;
  top: 30%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-box h3 {
  font-size: 20px;
}

.dark-box h2 {
  font-size: 20px;
}

.mission_text {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}


.settings-icon img {
  width: 60px;
  height: 60px;
}

.contact-info-call {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.contact-info-mail {
  display: flex;
  gap: 10px;
  align-items: center;

}

.contact-info-call i {
  background: linear-gradient(135deg, #4fc3f7, #1e88e5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-info-mail i {
  background: linear-gradient(135deg, #4fc3f7, #1e88e5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}


/* social links icon */
.social-icons {
  display: flex;
}

.social-icons .t-icon,
.social-icons .p-icon,
.social-icons .f-icon {
  margin-right: 12px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  background: linear-gradient(135deg, #4fc3f7, #1e88e5);
  border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.social-icons .f-icon:hover {
  color: #074f8f;
  /* or brand color */
}

.social-icons .t-icon:hover {
  color: #1e88e5;
  /* or brand color */
}

.social-icons .p-icon:hover {
  color: #aa0404;
  /* or brand color */
}

.btn-secondary {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
}

/* review section */

.review-container {
  margin-top: 50px;
}

.box1,
.box2,
.box3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 50;
  margin-bottom: 50px;
}

.box1 img,
.box2 img,
.box3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewbox-1,
.reviewbox-2,
.reviewbox-3 {
  display: flex;
  justify-content: left;
  gap: 20px;
}


.star-rating i {
  color: #FFD700;
  /* gold */
  font-size: 15px;
}



